.box {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    min-width: 280px;
    flex-direction: column;
    padding: 5px;
    text-align: left;
    line-height: 0px;
}

.imagem {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.column {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.responsive {
    width: 100%;
    height: auto;
}

button:hover {
    background-position: 100% 200%;
}

button {
    background: linear-gradient(90deg,#fdfdfd, #ffffff 30%, rgb(212, 215, 24) 30%, #9BC53D   );
    background-size: 400% 200%;
    transition: background .5s;
}

button:hover img {
    animation: tremer infinite .5s;
}

@keyframes tremer {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-3px);
	}
	100% {
		transform: translatey(0px);
	}
}

table {
    border-collapse: collapse;
    border-style: none;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.26);
}

table td {
    color: white;
    border: 1px solid rgb(197, 197, 197);
}

table th {
    color: white;
    border: 1px solid rgb(197, 197, 197);
}

td:last-child {
    border-style: none;
}

th:last-child {
    border-style: none;
}

tr {
    border-bottom: none;
}